{% extends "base.html" %}
{% load django_bootstrap5 %}


{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">Статусы</h1>
    <a class="btn btn-primary mb-3" href={% url 'statuses:create' %}>Создать статус</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Дата создания</th>
            </tr>
        </thead>
        <tbody>
            {% for status in statuses %}
            <tr>
                <th>{{ status.id }}</th>
                <th>{{ status.name }}</th>
                <th>{{ status.date_create|date:"d.m.Y H:i" }}</th>
                <th>
                    <a href={% url 'statuses:update' status.pk %}>Изменить</a><br>
                    <a href={% url 'statuses:delete' status.pk %}>Удалить</a>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}