{% extends "base.html" %}

{% block menu %}
  {% if user.is_authenticated %}
    {% for m in menu %}
        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href={% url m.url_name  %}>{{ m.title }}</a>
          </li>
          
        </ul>
      
    {% endfor %}
  {% else %}
        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href={% url menu.url_name  %}>{{ menu.title }}</a>
          </li>
          
        </ul>
  {% endif %}
      

{% endblock %}
{% block content %}
<h1 class="my-4">{{ title }}</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя пользователя</th>
            <th>Полное имя</th>
            <th>Дата создания</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <th>{{ user.id }}</th>
            <th>{{ user.username }}</th>
            <th>{{ user.get_full_name }}</th>
            <th>{{ user.date_joined }}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}