{% extends "base.html" %}

{% block menu %}
  {% if user.is_authenticated %}
    {% for m in menu %}
        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href={% url m.url_name  %}>{{ m.title }}</a>
          </li>
          
        </ul>
      
    {% endfor %}
  {% else %}
        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href={% url menu.url_name  %}>{{ menu.title }}</a>
          </li>
          
        </ul>
  {% endif %}
      

{% endblock %}
{% block content %}
    <div class="container wrapper flex-grow-1">
      


      <h1 class="my-4">
        
        
      </h1>
      
<h1 class="my-4"></h1>
<div class="card">
  <div class="card-body p-5 bg-light">
    <div class="display-4">Привет от Хекслета!</div>
    <p class="lead">Практические курсы по программированию</p>
    <hr>
    <a class="btn btn-primary btn-lg" href="https://ru.hexlet.io">Узнать больше</a>
  </div>
</div>

    </div>
{% endblock %}