{% extends "base.html" %}
{% load django_bootstrap5 %}


{% block content %}
<div class="container wrapper flex-grow-1">
<h1 class="my-4">Задачи</h1>
<a class="btn btn-primary nb-3" href={% url 'tasks:create' %} role="button">Создать задачу</a>
<div class="card mb-3">
    <div class="card-body bg-light">
        <form class="form-inline center:"  "" method="get">
            <table border="1">
                {% bootstrap_form filter.form %}
            </table>
                {% bootstrap_button button_type="submit" content="Показать" %}
        </form>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Статус</th>
            <th>Автор</th>
            <th>Исполнитель</th>
            <th>Дата создания</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <th>{{ task.id }}</th>
            <th><a href={% url 'tasks:task' task.pk %}>{{ task.name }}</a></th>
            <th>{{ task.status }}</th>
            <th>{{ task.author }}</th>
            <th>{{ task.executor }}</th>
            <th>{{ task.date_create }}</th>
            <th>
              <a href={% url 'tasks:update' task.pk %}>Изменить</a><br>
              <a href={% url 'tasks:delete' task.pk %}>Удалить</a>
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}